<!-- Train Schrdule Master Edit Start -->

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <h5 class="mb-0">Add/Edit Train Schedule Master</h5>
                </div>

                <form action="">
                    <div class="bg-light rounded d-block ms-auto me-auto h-100 p-4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control w-50" placeholder="Schedule ID :">
                            <label>Schedule ID :</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control w-50" placeholder="Schedule Date :">
                            <label>Schedule Date :</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select w-50" aria-label="Floating label select example">
                                <option selected>-- Select --</option>
                                <option value="1">1001</option>
                                <option value="2">1002</option>
                                <option value="3">1003</option>
                            </select>
                            <label>Train No. :</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select w-50" aria-label="Floating label select example">
                                <option selected>-- Select --</option>
                                <option value="1">CST</option>
                                <option value="2">GOA</option>
                                <option value="3">DUR</option>
                            </select>
                            <label>Station Code :</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control w-50" placeholder="Distance :">
                            <label>Distance :</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="time" class="form-control w-50" placeholder="Arrival Time :">
                            <label>Arrival Time :</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="time" class="form-control w-50" placeholder="Departure Time :">
                            <label>Departure Time :</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control w-50" placeholder="Day :">
                            <label>Day :</label>
                        </div>
                        <div>
                            <div class="d-flex align-items-start">
                                <button class="btn btn-primary" type="submit">
                                    Submit
                                </button>
                                <button class="ms-2 btn btn-primary">
                                    Back
                                </button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Train Schrdule Master End -->